<!DOCTYPE html>
html(lang="en")
    head
        style.
            .pages {
                display: flex;
                justify-content: center;
                justify-content: space-around

            }
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page
    body
        block header
            h1
                center User Information
            .pages
                form(action="/user/add")
                    button Add User
                form(action="/user" )
                    input(type="submit" value="Show User")

        